@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

p, button, span, a, label{
  font-family: "Quicksand", sans-serif;

}
.btn {
  background-color: #fe8c45;
  color: white;
  font-weight: 300;
}
.btn:hover {
  border: 1px solid #fe8c45;
}

/************ NAVBAR */

.nav-link {
  font-size: 20px;
}

/********** SECTION 1 */

.big-font {
  font-size: 100px;
  font-weight: 700;
}
.sameColor {
  color: #8a47f6;
}
.line {
  padding: 0 140px;
  background-color: #8a47f6;
}
.slides {
  height: 22px;
  width: 22px;
  background-color: #ededed;
}
.img-slider{
  width: 58%;
  position: absolute;
  right: 0;
}

/*************** SECTION 2 */

.color {
  background-color: #8a47f6;
}
.big-font2 {
  font-size: 70px;
  font-weight: 800;
}
.bg-outer{
  background-color: #8a47f617;
}

/***************** SECTION 3 */

.activate{
  border-bottom: 2px solid #8a47f6;
  color: #8a47f6;
}
.sec3-h1{
  font-size: 63px;
  font-weight: 700;
}

/**************SECTION 4 */

.sec4-h1{
  font-size: 64px;
  font-weight: 700;
}
.sec4-h1-2{
  font-size: 60px;
  font-weight: 900;
}

/************SECTION 5*/

.sec5-h1{
  font-size: 60px;
  font-weight: 700;
}
.low-width{
  width: 300px;
}
.icons{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**************** SECTION 6 */

.sec6-h1{
  font-size: 57px;
  color: black;
  font-weight: 700;
}
.sm{
  font-size: 22px;
}

/************SECTION 7 */

.sec7-h1{
  font-size: 60px;
}
.overHeightInput{
  height: 280px;
}
.changes-top{
  margin-top: 110px;
}
@media (max-width: 800px) {
  .big-font{
    font-size: 70px;
  }
  .changes-top{
    margin-top: 20px;
  }
}
@media (max-width: 520px) {
  .big-font {
    font-size: 40px;
  }
  .line {
    padding: 0 50px;
  }
  .big-font2 {
    font-size: 30px;
  }
  .sec3-h1{
    font-size: 50px;
  }
  .sec4-h1{
    font-size: 50px;
  }
  .low-width{
    width: 200px;
  }
  .img-slider{
    width: 100%;
  }
  .sec6-h1{
    font-size: 43px;

  }
  .sm{
    font-size: 15px;
  }
  .sec7-h1{
    font-size: 45px;
  }
  .changes-top{
    margin-top: 20px;
  }
}

